.github export-ignore
.github/** export-ignore
examples export-ignore
examples/** export-ignore
tests export-ignore
tests/** export-ignore
.gitattributes export-ignore
.gitignore export-ignore
*.dist export-ignore
*.xml export-ignore
